{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Création de Categorie{% endblock %}

{% block body %}

    <div class="container">
    <p> Créer une category </p>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Create') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('homepage') }}"><button class="btn btn-secondary">
            Back to homepage</button></a>
    </div>

{% endblock %}